body { background: url('../images/bgBlue.jpg') repeat-x; }

#wrapper { width: 980px; margin: 0 auto; min-height: 300px; box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1);}
#wrapper #header { height: 140px;
    background-image: linear-gradient(bottom, rgb(0,50,115) 24%, rgb(1,32,63) 50%, rgb(0,50,115) 81%);
    background-image: -o-linear-gradient(bottom, rgb(0,50,115) 24%, rgb(1,32,63) 50%, rgb(0,50,115) 81%);
    background-image: -moz-linear-gradient(bottom, rgb(0,50,115) 24%, rgb(1,32,63) 50%, rgb(0,50,115) 81%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,50,115) 24%, rgb(1,32,63) 50%, rgb(0,50,115) 81%);
    background-image: -ms-linear-gradient(bottom, rgb(0,50,115) 24%, rgb(1,32,63) 50%, rgb(0,50,115) 81%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.24, rgb(0,50,115)),
        color-stop(0.5, rgb(1,32,63)),
        color-stop(0.81, rgb(0,50,115))
    );
}
#wrapper #header #logo{ float: left; height: 100px;  position: relative;
    top: 20px; left: 20px;width: 800px; text-align: center;}
#wrapper #header #logo img{  height: 100%; }
#wrapper #header #companyName{ float: left; position:relative; top: 40px; left: 30px; display: none;}
#wrapper #header #companyName p { font-family: 'tahoma'; font-size: 30px; color: white;
    text-align: center; width: 320px;}
/*color: white;font-family: 'tahoma';font-size: 59px;font-weight: bold;left: -337px;letter-spacing: 0;
position: absolute;text-align: center;top: -21px;width: 320px;*/
#wrapper #header .shapes { float: right; margin-right: 10px; }

nav#menu { height: 25px; width: 980px;background: white; font-family: "Times New Roman";font-size: 14px;}
nav#menu ul{}
nav#menu ul li{ float: left; padding: 4px 40px; border: 1px solid black;}
nav#menu ul li:hover{ background: gray;}

#slider { box-shadow: 0 14px 4px -9px #c6e0ff; }

#content { min-height: 550px; padding: 20px; background: white url("../images/texture5.png"); }
#content.chooseUs { background: white url("../images/lightBlack.jpg"); }
#content.chooseUs #trophyRoom { height: 500px; margin: 0 auto; width: auto;}
#content.chooseUs #trophyRoom .trophy {  margin: 40px; height: 100px; width: 100px; background: url('../images/logoNewSB.png'); float:left;
    -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;

    /*Transition*/ -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;
    /*Reflection*/ -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));

}

#content.chooseUs #trophyRoom .trophy:hover {
    background: url('../images/logoNew.png');
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    opacity: 1;   /*Reflection*/
    -webkit-box-reflect: below 0px
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));


}
#content.chooseUs #trophyRoom .trophy.one { background-position: -7px 0px; }
#content.chooseUs #trophyRoom .trophy.two { background-position: -140px 0px; }
#content.chooseUs #trophyRoom .trophy.three { background-position: -264px 0px; }
#content.chooseUs #trophyRoom .trophy.four { background-position: -384px 0px; }
#content.chooseUs #trophyRoom .trophy.five { background-position: 0px -96px; }
#content.chooseUs #trophyRoom .trophy.six { background-position: -142px -103px; }
#content.chooseUs #trophyRoom .trophy.seven { background-position: -384px -119px; }
#content.chooseUs #trophyRoom .trophy.eight { background-position: -265px -171px; }
#content.chooseUs #trophyRoom .trophy.nine { background-position: -7px -214px; }
#content.chooseUs #trophyRoom .trophy.ten { background-position: -140px -281px; }
#content.chooseUs #trophyRoom .trophy.eleven { background-position: -297px -279px; }
#content.chooseUs #trophyRoom .trophy.twelve { background-position: -7px -334px; }
#content.chooseUs #trophyRoom .trophy.thirteen { background-position: -142px -395px; }
#content.chooseUs #trophyRoom .trophy.fourteen { background-position: -265px -395px; }
#content.chooseUs #trophyRoom .trophy.fiveteen { background-position: -384px -397px; }

#content #items {height: 415px;}
#content #items .item{ float: left; width: 300px;box-shadow: 0 5px 4px 1px black; }

#content .item.blue { box-shadow: 0 5px 4px 1px #0b4773; }
#content .item.red { box-shadow: 0 5px 4px 1px #9d0001; }
#content .item.green { box-shadow: 0 5px 4px 1px #237f22; }

#content .item.middle{ margin: 0px 20px; }
#content .item .itemHeader{ text-align: center; border-bottom: 1px solid black; background: gray; height: 30px; border-top-left-radius: 5px;border-top-right-radius: 5px;color: white;font-size: 27px;padding: 10px; }
#content .item .itemHeader h1 {text-shadow: 1px 2px 0 black;}
#content .item .itemHeader.blue{
    background-image: linear-gradient(bottom, rgb(38,133,235) 42%, rgb(26,119,181) 70%);
    background-image: -o-linear-gradient(bottom, rgb(38,133,235) 42%, rgb(26,119,181) 70%);
    background-image: -moz-linear-gradient(bottom, rgb(38,133,235) 42%, rgb(26,119,181) 70%);
    background-image: -webkit-linear-gradient(bottom, rgb(38,133,235) 42%, rgb(26,119,181) 70%);
    background-image: -ms-linear-gradient(bottom, rgb(38,133,235) 42%, rgb(26,119,181) 70%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.42, rgb(38,133,235)),color-stop(0.7, rgb(26,119,181))); }
#content .item .itemHeader.red{
    background-image: linear-gradient(bottom, rgb(224,45,60) 6%, rgb(194,35,35) 70%);
    background-image: -o-linear-gradient(bottom, rgb(224,45,60) 6%, rgb(194,35,35) 70%);
    background-image: -moz-linear-gradient(bottom, rgb(224,45,60) 6%, rgb(194,35,35) 70%);
    background-image: -webkit-linear-gradient(bottom, rgb(224,45,60) 6%, rgb(194,35,35) 70%);
    background-image: -ms-linear-gradient(bottom, rgb(224,45,60) 6%, rgb(194,35,35) 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(224,45,60)),
        color-stop(0.7, rgb(194,35,35))
    ); }
#content .item .itemHeader.green{
    background-image: linear-gradient(bottom, rgb(47,222,88) 6%, rgb(37,194,37) 70%);
    background-image: -o-linear-gradient(bottom, rgb(47,222,88) 6%, rgb(37,194,37) 70%);
    background-image: -moz-linear-gradient(bottom, rgb(47,222,88) 6%, rgb(37,194,37) 70%);
    background-image: -webkit-linear-gradient(bottom, rgb(47,222,88) 6%, rgb(37,194,37) 70%);
    background-image: -ms-linear-gradient(bottom, rgb(47,222,88) 6%, rgb(37,194,37) 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(47,222,88)),
        color-stop(0.7, rgb(37,194,37))
    ); }

#content .item .itemContext { height: 320px; padding: 10px; background: #0c7fb0;}
#content .item .itemContext p { color: #f5f5dc; margin: 5px 0px; text-indent: 15px; text-shadow: 1px 1px 1px black;}
#content .item .itemContext .itemImage{ height: 100px; width: 100px; padding: 10px; float: left;position: relative; left: -30px;}
#content .item .itemContext .itemText{ height: 285px; }
#content .item .detailButton {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.8);border-radius: 30px 30px 30px 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);color: #FFFFFF;
    font-size: 18px;line-height: 20px;padding: 2px 20px 2px;text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none; width: 90px;float: right;}
#content .item .detailButton:hover {background: #0C70B0; color: rgba(255, 255, 255, 0.8);}
#footer { height: 100px; background: url('../images/bgBlue.jpg'); }
#footer .companyLogo { float: left; padding: 24px; }
#footer .companyName {float: left;font-size: 17px; height: 60px; line-height: 30px; padding-top: 25px; text-align: center;}
#footer .companyName p { color: white; }

.curly { text-align: center; height: 70px; }

#content.sertifika {text-align: center;}
#content.sertifika img{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-right: 40px;
}

#content.sertifika img:hover {
    -webkit-transform:scale(1.2, 1.2);
    -moz-transform:scale(1.2, 1.2);
    -o-transform:scale(1.2, 1.2);
    -ms-transform:scale(1.2, 1.2);
    transform:scale(1.2, 1.2);
}


#content.nedenbiz {  }
#content.nedenbiz #whyUsList { }
#content.nedenbiz #whyUsList h4{
    font-family: 'Lobster', Georgia, Times, serif; font-size: 70px; line-height: 100px;
    color:  #0C70B0;
}
#content.nedenbiz #whyUsList ul {
    padding-left: 50px;
    list-style-image: url('../images/arrow.png');
    font-family: 'Lobster', Georgia, Times, serif; font-size: 20px; line-height: 50px;
}
#content.nedenbiz #whyUsList ul li {

}


/* FONT-FACE */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue-webfont.woff') format('woff'),
    url('fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CompleteinHimTRRegular';
    src: url('fonts/KENNY.ttf');
    src: url('fonts/KENNY.ttf?#iefix') format('embedded-opentype'),
    url('fonts/KENNY.ttf') format('woff'),
    url('fonts/KENNY.ttf') format('truetype'),
    url('fonts/KENNY.ttf#CompleteinHimTRRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

